<?xml version="1.0" encoding="utf-8"?><!--
  ~ *************************************************************************
  ~  AndroidManifest.xml
  ~ **************************************************************************
  ~ Copyright © 2022 VLC authors and VideoLAN
  ~ Author: Nicolas POMEPUY
  ~ ***************************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="androidx.security"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service
                android:name=".RemoteAccessService"
                android:exported="true"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="HTTP server" />
        </service>
        <activity
                android:name=".gui.remoteaccess.RemoteAccessShareActivity"
                android:exported="false"
                android:theme="@style/Theme.VLC"/>
        <activity
                android:name=".gui.remoteaccess.RemoteAccessClientActivity"
                android:exported="false"
                android:theme="@style/Theme.VLC"/>
        <activity
                android:name=".gui.remoteaccess.onboarding.RemoteAccessOnboardingActivity"
                android:theme="@style/Theme.VLC.Onboarding"/>
    </application>

</manifest>
